* {
    box-sizing: border-box;
}

footer {
    line-height: 50px;
    height: 100px;
    background: lightgray;
    padding: 28px;
}

footer ul {
    float: right;
    display: table;
}

footer ul li {
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
}

.rodapeimg {
    width: 3%;
    float: right;
    padding: 10px;
}