body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

h1 {
    color: rgba(63, 118, 189, 1);
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #333; /* Cor do texto padrão */
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
 
        color: rgba(63, 118, 189, 1);

        font-size: 16px;
        line-height: 1.5;
        color: #333; /* Cor do texto padrão */
    }
    .sesi{
        align-items: center;
        width: 100px;
        right: 50px;
    }
