
.formulariocontato{
    margin-top: 502px;
    margin-left: -1090px;
}
footer {
    grid-area: rodape;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(63, 118, 189, 1);
}

